<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDistanceCalc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50468/ServiceDistanceCalc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDistanceCalc"
                contract="ServiceReferenceDistanceCalc.IServiceDistanceCalc"
                name="BasicHttpBinding_IServiceDistanceCalc" />
        </client>
    </system.serviceModel>
</configuration>